/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Google Fonts "Azeret Mono": CSS class for a variable style */
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Browser Rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utility Classes Start Here */
a {
  text-decoration: none;
  color: #0d1321;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.text-primary {
  color: #0d1321;
}
.text-center {
  text-align: center;
}
.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.section-title {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.section-subtitle {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.section-description {
  margin: 16px 0px 32px;
}
.btn {
  text-align: center;
  font-size: 20px;
  padding: 12px 20px;
  border: 1px solid #0d1321;
  opacity: 0.7;
}
.fixed-wide-description {
  width: 852px;
  margin: 24px auto 48px;
}
.card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.card-title-margin {
  margin: 24px 0px 8px;
}
.mb-8px {
  margin-bottom: 8px;
}
.card-padding {
  padding: 40px;
}
.target-button {
  display: inline-block;
  margin-top: 24px;
  font-weight: 700;
  text-decoration: underline;
}
/* Utility Classes End Here */
/* Header Section Styling Start Here */
#navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 36px auto;
}
#navbar .navbar-container .logo a {
  font-size: 28px;
  font-weight: 800;
}
#navbar .navbar-container .download-cv-button {
  display: inline-block;
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
  color: #0d1321;
  font-size: 20px;
}
#showcase {
  height: 652px;
  background: url(../assets/img/Hero-bg.png) no-repeat center / cover;
}
#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 69px 45px 73px;
  text-align: center;
}
.showcase-text {
  margin-top: 32px;
}
.showcase-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
.showcase-description {
  width: 852px;
  margin: 24px auto 32px;
}
.showcase-button {
  display: inline-block;
  background: #0d1321;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 21px 24px;
  border-radius: 8px;
}
/* Header Section Styling End Here */
/* Information Section Styling Start Here */
#info {
  margin: 74px 0px 90px;
}
#info .info-container {
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
  padding: 80px 97px;
}
.info-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.info-text {
  width: 60%;
}

.info-img {
  width: 30%;
}
.info-img img {
  width: 100%;
}
.info-box-extra {
  margin: 32px 0px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
/* Information Section Styling End Here */
/* Inspiration Section Styling Start Here */
.inspiration-video {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
/* Inspiration Section Styling End Here */
/* Target Section Styling Start Here */
#target {
  margin: 151px 0px 49px;
}

.current-target-card-container {
  display: flex;
  justify-content: space-between;
}
.current-target-card {
  border-radius: 16px;
  width: 32%;
}
.bg-orange {
  background: rgba(255, 76, 30, 0.05);
}
.bg-blue-light {
  background: rgba(0, 76, 232, 0.05);
}
.bg-orange-light {
  background: rgba(255, 223, 0, 0.05);
}
.next-target {
  margin-top: 111px;
}

.next-target-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
  margin-bottom: 24px;
}
.next-target-card:last-child {
  margin-bottom: 0px;
}
.next-target-img {
  margin-right: 24px;
}
/* Target Section Styling End Here */
/* Support Section Styling Start Here */
#support {
  margin-bottom: 80px;
}
#support .support-container {
  padding: 64px 48px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../assets/img/handshake.jpg) lightgray 50% / cover no-repeat;
  border-radius: 16px;
}
.support-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
.support-description {
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  width: 606px;
  margin: 16px auto 24px;
}
#support-input {
  width: 548px;
  padding: 19px 20px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
  color: rgba(13, 19, 33, 0.4);
  font-weight: 400;
  outline: none;
}
.submit-button {
  text-align: center;
  font-size: 20px;
  width: 120px;
  padding: 17px 20px;
  border-radius: 8px;
  background: #fff;
  border: none;
  cursor: pointer;
}
/* Support Section Styling End Here */
/* Footer Section Styling Start Here */
#footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
}
.footer-text p {
  font-size: 20px;
}
/* Footer Section Styling End Here */
